 <div>
    <div>
        <header class="common_header">
            <li>
                <h3 > Global Genius Index (G2I)</h3>
            </li>
            <li>
                <a routerLink=''>Home</a>
            </li>
            
            <li>
                <h2>Teacher's Name</h2>
            </li>
        </header>
    </div>
    <a style="position: absolute;
    left: 5.21%;
    right: 92.19%;
    top: 9.69%;
    bottom: 87.33%;
    
    " routerLink=""><img src="/assets/back.png"> </a>

 <div class="rating" >
    <h3 class="text-center"> Ratings</h3>
    <div class="container">
   <ngb-rating [max]="5" [(rate)]="currentRate" [readonly]="false" ></ngb-rating>
    <h3>Rate: {{currentRate}}</h3>
    </div>
   </div>
   <div class="awards">
    <h2 style="text-align: center;">Rewards</h2>
    <img style="margin-left: 35%;" src="/assets/Medal.png">
   </div>
 </div>
 