 <div>
    <div>
        <header class="common_header">
            <li>
                <h3 > Global Genius Index (G2I)</h3>
            </li>
            <li>
                <a routerLink=''>Home</a>
            </li>
            
            <li>
                <h2>Teacher's Name</h2>
            </li>
        </header>
    </div>

 <div class="rating" >
    <h3 class="text-center"> Ratings</h3>
    <div class="container">
   <ngb-rating [max]="5" [(rate)]="currentRate" [readonly]="false" ></ngb-rating>
    <h3>Rate: {{currentRate}}</h3>
    </div>
   </div>
   <div class="awards">
    <h2 style="text-align: center;">Rewards</h2>
    <img style="margin-left: 35%;" src="/assets/Medal.png">
   </div>
 </div>
 