 <div>
    <div>
        <header style="display:flex;position: absolute;
        width: 1440px;
        height: 130px;
        left: 0px;
        top: 0px;
        
        background: #FFFFFF;">
            <li>
                <h3 style="position: absolute;
                width: 368px;
                height: 46px;
                left: 116px;
                top: 32px;
                color:#2E0A57;"> Global Genius Index (G2I)</h3>
            </li>
            <li>
                <a style="position: absolute;
                width: 54px;
                height: 23px;
                left: 631px;
                top: 54px;
                color:#2E0A57;" routerLink=''>Home</a>
            </li>
            
            <li>
                <h3 style="position: absolute;
                width: 256px;
                height: 31px;
                left: 1135px;
                top: 47px;color:#2E0A57">Teacher's Name</h3>
            </li>
        </header>
    </div>

 
 
 
 <div style="box-sizing: border-box;

 position: absolute;
 width: 835px;
 height: 362px;
 left: 213px;
 top: 198px;
 
 border: 6px solid #2E0A57;
 border-radius: 30px;">
    <h3 class="text-center"> Ratings</h3>
    <div class="container">
   <ngb-rating [max]="5" [(rate)]="currentRate" [readonly]="false" ></ngb-rating>
    <h3>Rate: {{currentRate}}</h3>
    </div>
   </div>
   <div style="box-sizing: border-box;

   position: absolute;
   width: 835px;
   height: 362px;
   left: 523px;
   top: 601px;
   
   border: 6px solid #2E0A57;
   border-radius: 30px;">
    <h2 style="text-align: center;">Rewards</h2>
    <img style="margin-left: 35%;" src="/assets/Medal.png">
   </div>
 </div>
 