

<header>
    <ul>
        <li><img src="/assets/Color logo with background 1.png"/></li>
        <li><mat-form-field appearance="fill">
            <mat-label>Search </mat-label>
            <input matInput  />
            <mat-icon matPrefix>search</mat-icon>
          </mat-form-field></li>
        <li><a routerLink="registration-form"> Teacher</a></li>
        <li><a routerLink="studentregistration-form"> student</a></li>
        <li><a routerLink="paterntregistration-form"> parent</a></li>
        <!-- <li><a routerLink="questionUpload"> question</a></li> -->
        <!-- <li><a routerLink="bankDetails"> bank</a></li> -->
        <!-- <li><a routerLink="dashboard"> dashboard</a></li> -->
        <!-- <li><a routerLink="rating"> Rating</a></li> -->
        <!-- <li><a routerLink="video"> video</a></li> -->
        <li><a routerLink="/cart"> <img src="/assets/icon-park-outline_shopping-cart-two (1).png"> </a></li>
        
        <li><button style="position: absolute;
          width: 138.94px;
          height: 60px;
          left: 900.06px;
          top: 30px;
          color:aliceblue;
          background-color: #2E0A57;
          border-radius: 15px;" routerLink="/registration-form">Sign Up</button> </li>
        <li style="margin-left: 15%;"><a routerLink="language"> <img src="/assets/Vector.png" > 
            <!-- <mat-form-field appearance="fill"> -->
                <!-- <mat-label>Language</mat-label> -->
                <select matNativeControl >
                 <option value="english">English</option> 
                  <option value="hindi">Hindi</option>
                  <option value="marathi">Marathi</option>
                </select>
              <!-- </mat-form-field> -->
        </a></li>

    </ul>
</header>