<header class="common_header">
            <li>
                <h3> Global Genius Index (G2I)</h3>
            </li>
            <li>
                <a routerLink=''>Home</a>
            </li>
            
            <li>
                <h2>Teacher's Name</h2>
            </li>
        </header>
         <div style="top:20%;"> 
          

        <form [formGroup]="courseForm" #course="ngForm"
    (ngSubmit)="courseFn(course.value)">
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Course ID:</mat-label>
        <input matInput formControlName="course_id" type="text" id="id">
      </mat-form-field>
    </div>
    <div>
        <mat-form-field appearance="outline">
          <mat-label>Chapter ID:</mat-label>
          <input matInput formControlName="chapter_id" type="text" id="id">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Chapter Name</mat-label>
          <input matInput formControlName="chapterName" type="text" id="id">
        </mat-form-field>
      </div>
   
   
     
        
       <div>
        <mat-form-field appearance="outline" >
          <mat-label>Chapter Content : </mat-label>
          <mat-select name="content" formControlName="chapterContent">
            <mat-option  *ngFor="let content of contents" [value]="content" id="content">
             <a >
              {{content}}
             </a> 
            </mat-option>
          </mat-select>
        </mat-form-field>
       </div>
          
     <div>
      <mat-form-field appearance="outline">
        <mat-label>Course Duration :</mat-label>
        <input matInput formControlName="duration" type="text" id="duration">
      </mat-form-field>
     </div>
     <div style="display:flex">
      <div>
        <input type="file" class="file-input"  
        (change)="onFileSelected($event)" #fileUpload>  
    
    <div class="file-upload">  
    
    <!-- {{fileName || "No file uploaded yet."}}   -->
    
     <a  
       (click)="fileUpload.click()">  <br>
         <!-- <mat-icon>attach_file</mat-icon>  -->
         <img src="/assets/pdf.png" >
     </a>  
   
    </div> 
       </div>
       
  <div>
    <input type="file" class="file-input"  
    (change)="onVideoSelected($event)" #fileUpload>  
   
   <div class="file-upload">  
   
   {{fileName}}  
   
   <a  
   (click)="fileUpload.click()">  <br>
     <!-- <mat-icon>attach_file</mat-icon>  -->
     <img src="/assets/video.png" >
   </a>  
   </div> 
  </div>
   
     </div>
     

 
    <button style="left:303px">Preview Content</button>
        
          <button style="left:813px">Create Content</button>
        
  </form>
</div>