<header style="display:flex;position: absolute;
        width: 90rem;
        height: 8.125rem;
        left: 0rem;
        top: 0rem;
        
        background: #FFFFFF;">
            <li>
                <h3 style="position: absolute;
                width: 23rem;
                height: 2.875rem;
                left: 7.438rem;
                top: 2rem;
                color:#2E0A57;"> Global Genius Index (G2I)</h3>
            </li>
            <li>
                <a style="position: absolute;
                width: 3.375rem;
                height: 1.438rem;
                left: 39.438rem;
                top: 3.375rem;
                color:#2E0A57;" routerLink=''>Home</a>
            </li>
            
            <li>
                <h3 style="position: absolute;
                width: 16rem;
                height: 1.938rem;
                left: 70.938rem;
                top: 2.938rem ;color:#2E0A57">Teacher's Name</h3>
            </li>
        </header>
        <div class="container" style="left: 240px;
        top: 256px;
        ">
          <a routerLink="set1" ><h3 class="title">Set I</h3></a>
        </div>
        <div class="container" style="left: 467px;
        top: 256px;
        ">
            <a routerLink="set2" ><h3 class="title">Set II</h3></a>
          </div>
          <div class="container" style="left: 835px;
          top: 255px;">
            <a routerLink="set3" ><h3 class="title">Set III</h3></a>
          </div>
          <div class="container" style="left: 1056px;
          top: 255px;
          ">
            <a routerLink="set4" ><h3 class="title">Set IV</h3></a>
          </div>
          <div class="container" style="left: 240px;
          top: 512px;
          ">
            <a routerLink="set5" ><h3 class="title">Set V</h3></a>
          </div>
          <div class="container" style="left: 467px;
          top: 512px;">
            <a routerLink="set6" ><h3 class="title">Set VI</h3></a>
          </div>
          <div class="container" style="left: 835px;
          top: 512px;">
            <a routerLink="set7" ><h3 class="title">Set VII</h3></a>
          </div>
          <div class="container" style="left: 1056px;
          top: 512px;">
            <a routerLink="set8" ><h3 class="title">Set VIII</h3></a>
          </div>
          <div class="container" style="left: 535px;
          top: 768px;
          ">
            <a routerLink="set9" ><h3 class="title">Set IX</h3></a>
          </div>
          <div class="container" style="left: 748px;
          top: 768px;
          ">
            <a routerLink="set10" ><h3 class="title">Set X</h3></a>
          </div>
          