<header class="common_header">
            <li>
                <h3 > Global Genius Index (G2I)</h3>
            </li>
            <li>
                <a routerLink=''>Home</a>
            </li>
            
            <li>
                <h2>Teacher's Name</h2>
            </li>
        </header>
        <a style="position: absolute;
        left: 5.21%;
        right: 92.19%;
        top: 9.69%;
        bottom: 87.33%;
        
        " routerLink="/questionUpload"><img src="/assets/back.png"> </a>
  
        <div class="container" style="left: 240px;
        top: 256px;
        ">
          <a routerLink="set1" ><h3 class="title">Set I</h3></a>
        </div>
        <div class="container" style="left: 467px;
        top: 256px;
        ">
            <a routerLink="set2" ><h3 class="title">Set II</h3></a>
          </div>
          <div class="container" style="left: 835px;
          top: 255px;">
            <a routerLink="set3" ><h3 class="title">Set III</h3></a>
          </div>
          <div class="container" style="left: 1056px;
          top: 255px;
          ">
            <a routerLink="set4" ><h3 class="title">Set IV</h3></a>
          </div>
          <div class="container" style="left: 240px;
          top: 512px;
          ">
            <a routerLink="set5" ><h3 class="title">Set V</h3></a>
          </div>
          <div class="container" style="left: 467px;
          top: 512px;">
            <a routerLink="set6" ><h3 class="title">Set VI</h3></a>
          </div>
          <div class="container" style="left: 835px;
          top: 512px;">
            <a routerLink="set7" ><h3 class="title">Set VII</h3></a>
          </div>
          <div class="container" style="left: 1056px;
          top: 512px;">
            <a routerLink="set8" ><h3 class="title">Set VIII</h3></a>
          </div>
          <div class="container" style="left: 535px;
          top: 768px;
          ">
            <a routerLink="set9" ><h3 class="title">Set IX</h3></a>
          </div>
          <div class="container" style="left: 748px;
          top: 768px;
          ">
            <a routerLink="set10" ><h3 class="title">Set X</h3></a>
          </div>
          