<header class="common_header">
    <li>
        <h3> Global Genius Index (G2I)</h3>
    </li>
    <li>
        <a routerLink=''>Home</a>
    </li>
    
    <li>
        <h2>Teacher's Name</h2>
    </li>
</header>
<div>
        

        
    <div style="display:flex" >
        <mat-card style="left: 6.75rem;">
        <mat-card-header style=" left: 6.75rem;
        top: 53.813rem;">Image</mat-card-header>
         <mat-card-content >Topic 1</mat-card-content>
       </mat-card>
       <mat-card style="left: 25.063rem;">
        <mat-card-header>Image</mat-card-header>
         <mat-card-content >Topic 2</mat-card-content>
       </mat-card>
       <mat-card style="left: 43.375rem;">
        <mat-card-header>Image</mat-card-header>
         <mat-card-content >Topic 3</mat-card-content>
       </mat-card>
       <mat-card style="left: 61.688rem;">
        <mat-card-header>Image</mat-card-header>
         <mat-card-content >Topic 4</mat-card-content>
       </mat-card>
     </div>
  </div>
  <div style="margin-top:86.25rem;">
    <app-footer></app-footer>
  </div>