@import '../../styles.scss';
.container{
    position: absolute;
width: 90rem;
height: 26.563rem;
left: 0rem;
top: 8.125rem;

background: linear-gradient(180deg, #35185A 0%, rgba(53, 24, 90, 0.79) 100%);
}
.upload{
    position: absolute;
width: 29.188rem;
height: 4.375rem;
left: 33.563rem;
top: 7.5rem;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 3.75rem;
line-height: 4.375rem;
display: flex;
align-items: center;

color: #FFFFFF;
}
.searchBox{
    position: absolute;
width: 30.625rem;
height: 4.313rem;
left: 29.625rem;
top: 19.375rem;

background: #FFFFFF;
border-radius: 0.938rem;
}
mat-card{
    position: absolute;
width: 23.625rem;
height: 27.875rem;
// left: 123px;
// top: 755px;

background: #F6F6F6;
border-radius: 0.938rem;
mat-card-content{
    position: absolute;
width: 19.875rem;
height: 1.813rem;
// left: 153px;
// top: 985px;
top: 16.875rem;
font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 1.563rem;
line-height: 1.813rem;

color: #290854;
}
}
.mat-card-image{
    position: absolute;
    
    // left: 123px;
    // top: 755px;
    width: 23.625rem;
              height: 15.769rem;
    // background: url(engineering-supplies-blueprint.jpg);
    // border-radius: 15px 15px 0px 0px;
    
}
