<div>
    <div style="position: absolute;
    width: 1440px;
    height: 130px;
    left: 0px;
    top: 0px;
    
    background: #FFFFFF;">
        <header >
            <li style="position: absolute;
            width: 368px;
            height: 46px;
            left: 116px;
            top: 32px;
            
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 800;
            font-size: 36px;
            line-height: 42px;
            
            color: #2B0854;
            ">Global Genius Index
                (G2I)
                </li>
        </header>
    </div>
   
    <div style="position: absolute;
    width: 516px;
    height: 457px;
    left: 462px;
    top: 184px;
    
    background:gray;">

    </div>
    <button style="position: absolute;
    width: 224px;
    height: 60px;
    left: 608px;
    top: 769px;
    
    background: #2E0A57;
    border-radius: 15px;color:white" routerLink="">Home</button>
</div>
