
        
            <div style="display:flex" >
                <mat-card style="left: 108px;">
                <mat-card-header style=" left: 108px;
                top: 861px;">Image</mat-card-header>
                 <mat-card-content >Topic 1</mat-card-content>
               </mat-card>
               <mat-card style="left: 401px;">
                <mat-card-header>Image</mat-card-header>
                 <mat-card-content >Topic 2</mat-card-content>
               </mat-card>
               <mat-card style="left: 694px;">
                <mat-card-header>Image</mat-card-header>
                 <mat-card-content >Topic 3</mat-card-content>
               </mat-card>
               <mat-card style="left: 987px;">
                <mat-card-header>Image</mat-card-header>
                 <mat-card-content >Topic 4</mat-card-content>
               </mat-card>
            
          </div>
          <br>
          <br>
            
            <div style="display:flex ;" >
                <mat-card style="left: 108px;top: 500px;">
                <mat-card-header >Image</mat-card-header>
                 <mat-card-content >Topic 1</mat-card-content>
               </mat-card>
               <mat-card style="left: 401px;top: 500px;">
                <mat-card-header>Image</mat-card-header>
                 <mat-card-content >Topic 1</mat-card-content>
               </mat-card>
               <mat-card style="left: 694px;top: 500px;">
                <mat-card-header>Image</mat-card-header>
                 <mat-card-content >Topic 1</mat-card-content>
               </mat-card>
               <mat-card style="left: 987px;top: 500px;">
                <mat-card-header>Image</mat-card-header>
                 <mat-card-content >Topic 1</mat-card-content>
               </mat-card>
             </div>
            