<header class="common_header">
  <li>
      <h3 > Global Genius Index (G2I)</h3>
  </li>
 
  
  <li>
      <h2>Teacher's Name</h2>
  </li>
</header>
<div class="container">
  <a style="position: absolute;
  left: 5.21%;
  right: 92.19%;
  top: 9.69%;
  bottom: 87.33%;
  
  " routerLink=""><img src="/assets/back.png"> </a>

<h3 class="upload"> My Uploads</h3>
<li class="searchBox"><mat-form-field>
  <mat-label>Search </mat-label>
  <input matInput  />
  <mat-icon matPrefix>search</mat-icon>
</mat-form-field></li>
</div>
        
            <div style="display:flex" >
                <mat-card style="left: 123px;
                top: 655px;
                ">
                  <img mat-card-image src="/assets/engineering-supplies-blueprint 2.png">
                 <mat-card-content >Topic 1</mat-card-content>
               </mat-card>
               <mat-card style="left: 531px;
               top: 655px;">
                <img mat-card-image src="/assets/engineering-supplies-blueprint 2.png">
                 <mat-card-content >Topic 2</mat-card-content>
               </mat-card>
               <mat-card style="left: 939px;
               top: 655px;">
                <img mat-card-image src="/assets/engineering-supplies-blueprint 2.png">
                 <mat-card-content >Topic 3</mat-card-content>
               </mat-card>
            
          </div>
          <br>
          <br>
            
          <div style="display:flex;top:40%; " >
            <mat-card style="left: 123px;top: 1207px;">
              <img mat-card-image src="/assets/engineering-supplies-blueprint 2.png" 
              >
             <mat-card-content >Topic 4</mat-card-content>
           </mat-card>
           <mat-card style="left: 531px;
           top: 1207px;">
            <img mat-card-image src="/assets/engineering-supplies-blueprint 2.png">
             <mat-card-content >Topic 5</mat-card-content>
           </mat-card>
           <mat-card style="left: 939px;
           top: 1207px;">
            <img mat-card-image src="/assets/engineering-supplies-blueprint 2.png">
             <mat-card-content >Topic 6</mat-card-content>
           </mat-card>
        
      </div>
      <div style="display:flex;top:40%; " >
        <mat-card style="left: 123px;top: 1707px;">
          <img mat-card-image src="/assets/engineering-supplies-blueprint 2.png" 
          >
         <mat-card-content >Topic 7</mat-card-content>
       </mat-card>
       <mat-card style="left: 531px;
       top: 1707px;">
        <img mat-card-image src="/assets/engineering-supplies-blueprint 2.png">
         <mat-card-content >Topic 8</mat-card-content>
       </mat-card>
       <mat-card style="left: 939px;
       top: 1707px;">
        <img mat-card-image src="/assets/engineering-supplies-blueprint 2.png">
         <mat-card-content >Topic 9</mat-card-content>
       </mat-card>
    
  </div>
      <div style="position: absolute;
      width: 1440px;
      height: 454px;
      left: 0px;
      top: 2353px;
      
      background: #2E0A57;">
        <app-footer></app-footer>
      </div>