header{
    display:flex;position: absolute;
        width: 90rem;
        height: 8.125rem;
        left: 0rem;
        top: 0rem;
        
        background: #FFFFFF;
        h3{
            position: absolute;
                width: 23rem;
                height: 2.875rem;
                left:3.5rem;
                top: 2rem;
                color:#2E0A57;
        }
        .search{
            box-sizing: border-box;

                position: absolute;
                width: 20.875rem;
                height: 4.125rem;
                left: 19.75rem;
                top: 1.5rem;
                
                border: 0.063rem solid #000000;
                border-radius: 1.875rem;
        }
        .home{
            position: absolute;
                width: 3.375rem;
                height: 1.438rem;
                left: 46.875rem;
top: 3.375rem;
                color:#2E0A57;
        }
        .courseName{
            position: absolute;
                width: 7.5rem;
                height: 1.438rem;
                left: 53.125rem;
            
                top: 2.5rem;
        }
        
}
button{
    position: absolute;
       width: 9.438rem;
       height: 3.75rem;
       left: 10rem;
       top: 27.375rem;
       
       
       background: #35185A;
       border-radius: 0.938rem; color:white;
}
.container{
    position: absolute;
width: 1440px;
height: 578px;
left: 0px;
top: 131px;

background: #D9D9D9;
}