<div>
  <h1>Bank Details</h1>

</div>

<div>
    <form [formGroup]="bankForm" #bank="ngForm"
    (ngSubmit)="bankForm.status !== 'INVALID' && bankFn(bank.value)">
         <div>
            <mat-form-field appearance="outline" >
                <mat-label>Banks</mat-label>
                <mat-select name="bank">
                  <mat-option *ngFor="let bank of banks" [value]="bank" id="bank">
                   <a >
                    {{bank}}
                   </a> 
                  </mat-option>
                </mat-select>
              </mat-form-field>
        </div> 
        
        <div>
            <mat-form-field appearance="outline">
                <mat-label>Account Holder's Name</mat-label>
                <input matInput  type="text" id="name">
              </mat-form-field>
        </div>
         
         <div>
            <mat-form-field appearance="outline" >
                <mat-label for="ifsc">IFSC Number</mat-label>
                <input matInput id="ifsc" >
              </mat-form-field>
        </div>
           



            <!-- like password match -->
            <div>
  <mat-form-field appearance="outline">
    <mat-label>Account Number</mat-label>
    <input matInput type="number" id="account" 
    formControlName="account" [ngClass]="{error : getControl('account')?.errors && getControl('account')?.touched}">
    <div *ngIf="getControl('account')?.errors && getControl('account')?.touched">

        <small class="text-danger" *ngIf="getControl('account')?.errors?.['required']">account field is requird</small>

        <small class="text-danger" *ngIf="getControl('account')?.errors?.['minlength'] || getControl('account')?.errors?.['maxlength']">account should be minimum 8 and maximum 32 characters long.</small>

      </div>
  </mat-form-field>
            </div>
            
            
            <!-- <div>
        <mat-form-field appearance="outline">
          <mat-label>Confirm Account Number</mat-label>

          <input matInput type="cAccount" class="form-control" id="cAccount"  
          formControlName="cAccount" [ngClass]="{error : getControl('cAccount')?.errors && getControl('cAccount')?.touched}">
          <div *ngIf="getControl('cAccount')?.errors && getControl('cAccount')?.touched">
 
             <small class="text-danger" *ngIf="getControl('cAccount')?.errors?.['required']">
              Confirm Account number is required</small>
     
             <small class="text-danger" *ngIf="getControl('cAccount')?.errors?.['maxlength'] || getControl('cAccount')?.errors?.['maxlength']">
              Confirm Account should be minimum 8 and maximum 32 characters long.</small>
     
           </div>
           <div *ngIf="bankForm.errors?.['accountMismatchError'] && getControl('cAccount')?.touched">
 
             <small class="text-danger">Account mismatched</small>
     
           </div>
        </mat-form-field>
             
            </div>  -->
            <div>
              <button 
               [disabled]="bankForm.status === 'INVALID'">SUBMIT</button>
      
            </div>

           
    
            
</form>
</div>