<div>
    <div style="position: absolute;
    width: 1440px;
    height: 130px;
    left: 0px;
    top: 0px;">
        <app-header></app-header>
    </div>
    <div style="position: absolute;
    width: 1440px;
    height: 540px;
    left: 1px;
    top: 132px;">
        <img src="/assets/Science biology education development experiment research.png">
    </div>
    <div style="box-sizing: border-box;

    position: absolute;
    width: 1440px;
    height: 1021px;
    left: 0px;
    top: 720px;
    
    background: #FAFAFA;
    border: 1px solid #2E0A57;
    border-radius: 0px 200px;">

    
    <div>
        <mat-tab-group>
            <mat-tab label="Subject"> Subject 1 </mat-tab>
            <mat-tab label="Subject"> Subject 2 </mat-tab>
            <mat-tab label="Subject"> Subject 3 </mat-tab>
            <mat-tab label="Subject"> Subject 4 </mat-tab>
            <mat-tab label="Subject"> Subject 5 </mat-tab>
            <mat-tab label="Subject"> Subject 6 </mat-tab>
            <mat-tab label="Subject"> Subject 7 </mat-tab>
            <mat-tab label="Subject"> Subject 8 </mat-tab>
            
          </mat-tab-group>
    </div>
    <div>
        

        
            <div style="display:flex" >
                <mat-card style="left: 108px;">
                <mat-card-header style=" left: 108px;
                top: 861px;">Image</mat-card-header>
                 <mat-card-content >Topic 1</mat-card-content>
               </mat-card>
               <mat-card style="left: 401px;">
                <mat-card-header>Image</mat-card-header>
                 <mat-card-content >Topic 2</mat-card-content>
               </mat-card>
               <mat-card style="left: 694px;">
                <mat-card-header>Image</mat-card-header>
                 <mat-card-content >Topic 3</mat-card-content>
               </mat-card>
               <mat-card style="left: 987px;">
                <mat-card-header>Image</mat-card-header>
                 <mat-card-content >Topic 4</mat-card-content>
               </mat-card>
             </div>
          </div>
          <br>
          <br>
           <div><h3 style="top: 380px;">Most Viewing</h3>
            
            <div style="display:flex ;" >
                <mat-card style="left: 108px;top: 500px;">
                <mat-card-header >Image</mat-card-header>
                 <mat-card-content >Topic 1</mat-card-content>
               </mat-card>
               <mat-card style="left: 401px;top: 500px;">
                <mat-card-header>Image</mat-card-header>
                 <mat-card-content >Topic 1</mat-card-content>
               </mat-card>
               <mat-card style="left: 694px;top: 500px;">
                <mat-card-header>Image</mat-card-header>
                 <mat-card-content >Topic 1</mat-card-content>
               </mat-card>
               <mat-card style="left: 987px;top: 500px;">
                <mat-card-header>Image</mat-card-header>
                 <mat-card-content >Topic 1</mat-card-content>
               </mat-card>
             </div>
        <!-- </div> -->
    <!-- </div> -->
</div>
    <div>
        <h3 style="position: absolute;
        width: 326px;
        height: 56px;
        left: 112px;
        top: 1100px;">Top Categories</h3>
        <mat-grid-list [cols]="4" rowHeight="1:1" style="top: 1064px;" >
            <mat-grid-tile><img src="/assets/Ellipse 199.png"> <div> IT </div></mat-grid-tile>
            <mat-grid-tile><img src="/assets/Ellipse 199.png"><div>Development</div>></mat-grid-tile>
            <mat-grid-tile><img src="/assets/Ellipse 199.png">3</mat-grid-tile>
            <mat-grid-tile><img src="/assets/Ellipse 199.png">4</mat-grid-tile>
          </mat-grid-list>
          <mat-grid-list [cols]="4" rowHeight="1:1" style="top: 1158px;">
            <mat-grid-tile><img src="/assets/Ellipse 199.png"> <div> IT </div></mat-grid-tile>
            <mat-grid-tile><img src="/assets/Ellipse 199.png"><div>Development</div>></mat-grid-tile>
            <mat-grid-tile><img src="/assets/Ellipse 199.png">3</mat-grid-tile>
            <mat-grid-tile><img src="/assets/Ellipse 199.png">4</mat-grid-tile>
          </mat-grid-list>
    </div>
    <div>
        <h2 style="text-align: center;width: 622px;
        height: 59px;
        left: 381px;
        position: absolute;
        top: 2121px;
"> What We Provide For You</h2>
        <div style="top:222px">
            <mat-card class="provide" style="left: 309px;;
            border-radius: 30px 0px 0px 30px;background-color: linear-gradient(180deg, #AA72F2 0%, rgba(46, 10, 87, 0.98) 87.15%);">
           <img mat-card-image src="/assets/Group 124.png" style="width: 130px;
           height: 136.61px; text-align: center;">
           <mat-card-title style="text-align: center;">+1000 Courses</mat-card-title>
           <mat-card-subtitle style="text-align: center;">Explore a wide range of courses in all feilds</mat-card-subtitle>
          </mat-card>
          <mat-card class="provide" style="left: 623.65px;
          border-radius: 0px;background-color: linear-gradient(180deg, #AF7CF0 0%, #9782B3 100%);">
            <img mat-card-image src="/assets/Group 125.png" style="width: 130px;left: 584.65px;
            height: 136.61px; text-align: center;">
            <mat-card-title style="text-align: center;">Industry Experts </mat-card-title>
            <mat-card-subtitle style="text-align: center;">Professional content introduced by the best experts</mat-card-subtitle>
          </mat-card>
          <mat-card class="provide" style="left: 945px;
          border-radius: 0px 30px 30px 0px;">
            <img mat-card-image src="/assets/Group 20080.png" style="width: 130px;
            height: 136.61px; text-align: center;">
            <mat-card-title style="text-align: center;">Unlimited Access  </mat-card-title>
            <mat-card-subtitle style="text-align: center;">Access all courses with one click and with free fees</mat-card-subtitle>
          </mat-card>
        </div>
            
            
            
            
        </div>
        <br><br>
        <div style="box-sizing: border-box;

        position: absolute;
        width: 1442px;
        height: 376px;
        left: -2px;
        top: 2601px;
        
        background: #D9D9D9;
        border: 6px solid #000000;">
           <h4>Our Partners</h4>
        </div>
        <br><br>
        <div >
            <mat-card style="position: absolute;
            width: 727px;
            height: 730.86px;
            left: 382px;
            top: 3145px;
            
            background: #F6F6F6;
            border-radius: 30px;" >
            <mat-card-title style="position: absolute;
                width: 473.36px;
                height: 206.96px;
                left: 105.59px;
    top: 195.27px;
                
                font-family: 'Lato';
                font-style: normal;
                font-weight: 400;
                font-size: 30px;
                line-height: 36px;
                text-align: center;
                
                color: #293241;">Students View</mat-card-title>

              <img mat-card-image src="/assets/portrait-young-student-happy-be-back-university 1.png" 
              style="position: absolute;
              width: 198.2px;
              height: 250.45px;
              left: 275.79px;
    top: 258.63px
              ">
              <mat-card-footer style="text-align: center; top:300px">Student's Name</mat-card-footer>
            </mat-card>
        </div>
        <div style="position: absolute;
        width: 1440px;
        height: 454px;
        left: 0px;
        top: 4113px;
        
        ">
            <app-footer></app-footer>

        </div>
    </div>