@import '../../styles.scss';
mat-card{
    box-sizing: border-box;

position: absolute;
width: 16.118rem;
height: 20.25rem;
// left: 108px;
top: 3.813rem;

background: #F6F6F6;
border: 0.063rem solid #000000;
border-radius: 0.983rem;
    mat-card-header{
        
width: 16.188rem;
height: 8.25rem;
left: 6.25rem;
top: 50rem;
margin-left: -1.063rem;
    margin-top: -1.063rem;
background-color: #A16AE6;
    }
}
.mat-card-image{
    margin-left: 18%;
    // padding: 2%;
}
.provide{
    width: 15.548rem;
height: 14.875rem;
top: 138.688rem;
}
h3{
    position: absolute;
width: 17.875rem;
height: 3.5rem;
left: 7rem;
top: 78.375rem;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 3rem;
line-height: 3.5rem;
text-align: center;

color: #000000;
}