<div>
    <div style="position: absolute;
    width: 90rem;
    height: 8.125rem;
    left: 0rem;
    top: 0rem;">
        <app-header></app-header>
    </div>
    <div style="position: absolute;
    width: 90rem;
    height: 33.75rem;
    left: 0.063rem;
    top: 8.25rem;">
        <img src="/assets/Science biology education development experiment research.png">
    </div>
    <div style="box-sizing: border-box;

    position: absolute;
    width: 90rem;
    height: 63.813rem;
    left: 0rem;
    top: 45rem;
    
    background: #FAFAFA;
    border: 0.063rem solid #2E0A57;
    border-radius: 0rem 12.5rem;">

    
    <div>
        <mat-tab-group>
            <mat-tab label="Subject"> Subject 1 </mat-tab>
            <mat-tab label="Subject"> Subject 2 </mat-tab>
            <mat-tab label="Subject"> Subject 3 </mat-tab>
            <mat-tab label="Subject"> Subject 4 </mat-tab>
            <mat-tab label="Subject"> Subject 5 </mat-tab>
            <mat-tab label="Subject"> Subject 6 </mat-tab>
            <mat-tab label="Subject"> Subject 7 </mat-tab>
            <mat-tab label="Subject"> Subject 8 </mat-tab>
            
          </mat-tab-group>
    </div>
    <div>
        

        
            <div style="display:flex" >
                <mat-card style="left: 6.75rem;">
                <mat-card-header style=" left: 6.75rem;
                top: 53.813rem;">Image</mat-card-header>
                 <mat-card-content >Topic 1</mat-card-content>
               </mat-card>
               <mat-card style="left: 25.063rem;">
                <mat-card-header>Image</mat-card-header>
                 <mat-card-content >Topic 2</mat-card-content>
               </mat-card>
               <mat-card style="left: 43.375rem;">
                <mat-card-header>Image</mat-card-header>
                 <mat-card-content >Topic 3</mat-card-content>
               </mat-card>
               <mat-card style="left: 61.688rem;">
                <mat-card-header>Image</mat-card-header>
                 <mat-card-content >Topic 4</mat-card-content>
               </mat-card>
             </div>
          </div>
          <br>
          <br>
           <div><h3 style="top: 23.75rem;">Most Viewing</h3>
            
            <div style="display:flex ;" >
                <mat-card style="left: 6.75rem;top: 31.25rem;">
                <mat-card-header >Image</mat-card-header>
                 <mat-card-content >Topic 1</mat-card-content>
               </mat-card>
               <mat-card style="left: 25.063rem;top: 31.25rem;">
                <mat-card-header>Image</mat-card-header>
                 <mat-card-content >Topic 1</mat-card-content>
               </mat-card>
               <mat-card style="left: 43.375rem;top: 31.25rem;">
                <mat-card-header>Image</mat-card-header>
                 <mat-card-content >Topic 1</mat-card-content>
               </mat-card>
               <mat-card style="left: 61.688rem;top: 31.25rem;">
                <mat-card-header>Image</mat-card-header>
                 <mat-card-content >Topic 1</mat-card-content>
               </mat-card>
             </div>
        <!-- </div> -->
    <!-- </div> -->
</div>
    <div>
        <h3 style="position: absolute;
        width: 20.375rem;
        height: 3.5rem;
        left: 7rem;
        top: 68.75rem;">Top Categories</h3>
        <mat-grid-list [cols]="4" rowHeight="1:1" style="top: 66.5rem;" >
            <mat-grid-tile><img src="/assets/Ellipse 199.png"> <div> IT </div></mat-grid-tile>
            <mat-grid-tile><img src="/assets/Ellipse 199.png"><div>Development</div>></mat-grid-tile>
            <mat-grid-tile><img src="/assets/Ellipse 199.png">3</mat-grid-tile>
            <mat-grid-tile><img src="/assets/Ellipse 199.png">4</mat-grid-tile>
          </mat-grid-list>
          <mat-grid-list [cols]="4" rowHeight="1:1" style="top: 72.375rem;">
            <mat-grid-tile><img src="/assets/Ellipse 199.png"> <div> IT </div></mat-grid-tile>
            <mat-grid-tile><img src="/assets/Ellipse 199.png"><div>Development</div>></mat-grid-tile>
            <mat-grid-tile><img src="/assets/Ellipse 199.png">3</mat-grid-tile>
            <mat-grid-tile><img src="/assets/Ellipse 199.png">4</mat-grid-tile>
          </mat-grid-list>
    </div>
    <div>
        <h2 style="text-align: center;width: 38.875rem;
        height: 3.688rem;
        left: 23.813rem;
        position: absolute;
        top: 132.563rem;
"> What We Provide For You</h2>
        <div style="top:13.875rem">
            <mat-card class="provide" style="left: 19.313rem;color:white;
            border-radius: 1.875rem 0rem 0rem 1.875rem;background-color: rgba(46, 10, 87, 0.98);">
           <img mat-card-image src="/assets/Group 124.png" style="width:  8.125rem;
           height: 8.538rem; text-align: center;">
           <mat-card-title style="text-align: center;">+1000 Courses</mat-card-title>
           <mat-card-subtitle style="text-align: center;color:white;">Explore a wide range of courses in all feilds</mat-card-subtitle>
          </mat-card>
          <mat-card class="provide" style="left: 38.978rem;color:white;
          border-radius: 0rem;background-color:#AF7CF0 ;">
            <img mat-card-image src="/assets/Group 125.png" style="width:  8.125rem;left: 36.541rem;
            height: 8.538rem; text-align: center;">
            <mat-card-title style="text-align: center;">Industry Experts </mat-card-title>
            <mat-card-subtitle style="text-align: center;color:white;">Professional content introduced by the best experts</mat-card-subtitle>
          </mat-card>
          <mat-card class="provide" style="left: 59.063rem;color:white;
          border-radius: 0rem 1.875rem 1.875rem 0rem;background-color: rgba(46, 10, 87, 0.98);">
            <img mat-card-image src="/assets/Group 20080.png" style="width: 8.125rem;
            height: 8.538rem; text-align: center;">
            <mat-card-title style="text-align: center;">Unlimited Access  </mat-card-title>
            <mat-card-subtitle style="text-align: center;color:white;">Access all courses with one click and with free fees</mat-card-subtitle>
          </mat-card>
        </div>
            
            
            
            
        </div>
        <br><br>
        <div style="box-sizing: border-box;

        position: absolute;
        width: 90.125rem;
        height: 23.4rem;
        left: -0.25rem;
        top: 162.563rem;
        
        background: #D9D9D9;
        border: 0.335rem solid #000000;">
           <h4 style="text-align: center;">Our Partners</h4>
        </div>
        <br><br>
        <div >
            <mat-card style="position: absolute;
            width: 45.43rem;
            height: 45.69rem;
            left: 23.875rem;
            top: 196.563rem;
            
            background: #F6F6F6;
            border-radius: 1.875rem;" >
            <mat-card-title style="position: absolute;
                width: 29.585rem;
                height: 12.935rem;
                left: 6.599rem;
    top: 12.204rem;
                
                font-family: 'Lato';
                font-style: normal;
                font-weight: 400;
                font-size: 1.875rem;
                line-height: 2.25rem;
                text-align: center;
                
                color: #293241;">Students View</mat-card-title>

              <img mat-card-image src="/assets/portrait-young-student-happy-be-back-university 1.png" 
              style="position: absolute;
              width: 12.388rem;
              height: 15.653rem;
              left: 7.237rem;
    top: 16.164rem;
              ">
              <mat-card-footer style="text-align: center; top:18.75rem">Student's Name</mat-card-footer>
            </mat-card>
        </div>
        <div style="position: absolute;
        width: 90rem;
        height: 28.375rem;
        left: 0rem;
        top: 257.063rem;
        
        ">
            <app-footer></app-footer>

        </div>
    </div>