.reset{
    box-sizing: border-box;

position: absolute;
width: 690px;
height: 690px;
left: 319px;
top: 67px;

background: #FFFFFF;
border: 1px solid rgba(116, 68, 171, 0.3);
border-radius: 20px;
}
button{
    position: absolute;
width: 490px;
height: 60px;
left: 119px;
top: 397px;
color:#FFFFFF;
background: #35185A;
border-radius: 15px;
}
h3{
    position: absolute;
width: 284px;
height: 35px;
left: 203px;
top: 167px;

font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 30px;
line-height: 35px;

color: #230041;

}
h5{
    position: absolute;
width: 330px;
height: 18px;
left: 173px;
top: 219px;

font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 15px;
line-height: 18px;
/* identical to box height */


color: #746283;
}
mat-form-field{
    box-sizing: border-box;

position: absolute;
width: 490px;
height: 60px;
left: 119px;
top: 287px;

background: #FFFFFF;
border: 1px solid rgba(88, 55, 129, 0.3);
border-radius: 15px;
}