<div>
    <div>
        <header class="common_header">
            <li>
                <h3> Global Genius Index (G2I)</h3>
            </li>
            <li>
                <a routerLink=''>Home</a>
            </li>
            
            <li>
                <h2>Teacher's Name</h2>
            </li>
        </header>
    </div>

    <a style="position: absolute;
    left: 5.21%;
    right: 92.19%;
    top: 9.69%;
    bottom: 87.33%;
    
    " routerLink=""><img src="/assets/back.png"> </a>

    
    <input type="file" class="file-input"  
    (change)="onFileSelected($event)" #fileUpload>  

<div class="file-upload">  

{{fileName || "No file uploaded yet."}}  

 <button   
   (click)="fileUpload.click()" style=" margin-top: 10%; margin-left: 30%;">  
     <!-- <mat-icon>attach_file</mat-icon>  -->
     <img src="/assets/Upload.png" >
 </button>  
</div>  
      
    


