<div>
    <div>
        <header style="display:flex;position: absolute;
        width: 1440px;
        height: 130px;
        left: 0px;
        top: 0px;
        
        background: #FFFFFF;">
            <li>
                <h3 style="position: absolute;
                width: 368px;
                height: 46px;
                left: 116px;
                top: 32px;
                color:#2E0A57;"> Global Genius Index (G2I)</h3>
            </li>
            <li>
                <a style="position: absolute;
                width: 54px;
                height: 23px;
                left: 631px;
                top: 54px;
                color:#2E0A57;" routerLink=''>Home</a>
            </li>
            
            <li>
                <h3 style="position: absolute;
                width: 256px;
                height: 31px;
                left: 1135px;
                top: 47px;color:#2E0A57">Teacher's Name</h3>
            </li>
        </header>
    </div>
    
    <input type="file" class="file-input"  
    (change)="onFileSelected($event)" #fileUpload>  

<div class="file-upload">  

{{fileName || "No file uploaded yet."}}  

 <button   
   (click)="fileUpload.click()" style=" margin-top: 10%; margin-left: 30%;">  
     <!-- <mat-icon>attach_file</mat-icon>  -->
     <img src="/assets/Upload.png" >
 </button>  
</div>  
      
    


