<div>
    <div>
        <header style="display:flex;position: absolute;
        width: 90rem;
        height: 8.125rem;
        left: 0rem;
        top: 0rem;
        
        background: #FFFFFF;">
            <li>
                <h3 style="position: absolute;
                width: 23rem;
                height: 2.875rem;
                left: 7.438rem;
                top: 2rem;
                color:#2E0A57;"> Global Genius Index (G2I)</h3>
            </li>
            <li>
                <a style="position: absolute;
                width: 3.375rem;
                height: 1.438rem;
                left: 39.438rem;
                top: 3.375rem;
                color:#2E0A57;" routerLink=''>Home</a>
            </li>
            
            <li>
                <h3 style="position: absolute;
                width: 16rem;
                height: 1.938rem;
                left: 70.938rem;
                top: 2.938rem ;color:#2E0A57">Teacher's Name</h3>
            </li>
        </header>
    </div>
    <h3>Question papers</h3>
    <div style="display:flex;">
        <img src="/assets/Vector (1).png"><br>
       <h4>Hindi</h4> 
        <img src="/assets/Vector (1).png"><br>English
        <img src="/assets/Vector (1).png"><br>Science
    
    </div>
    
</div>
