<div>
    <div>
        <header class="common_header">
            <li>
                <h3 > Global Genius Index (G2I)</h3>
            </li>
            <li>
                <a  routerLink=''>Home</a>
            </li>
            
            <li>
                <h2>Teacher's Name</h2>
            </li>
        </header>
    </div>
    <h3>Question papers</h3>
    <div style="display:flex;">
        <img src="/assets/Vector (1).png"><br>
       <h4>Hindi</h4> 
        <img src="/assets/Vector (1).png"><br>English
        <img src="/assets/Vector (1).png"><br>Science
    
    </div>
    
</div>
