<!-- 
  <div>
  <h5>
        all que
    </h5>
    <table mat-table style="text-align: left;
    color:black;position:absolute">
        <thead>
            <tr >
                <th>que_num </th> 
                <th >subject</th>
                <th >chapter</th>
                <th >description </th>
                <th>category </th>
                <th>que_option</th>
                <th>option</th>
                <th>answer</th>
                <th>Action</th>
                <th>Update</th>
            </tr>
           
        </thead>
        <tbody>
            <tr style="border:1px solid black"
             *ngFor="let item of questionList">
                <td>{{item.que_num}}</td>
                <td>{{item.subject}}</td>
                <td>{{item.chapter}}</td>
                <td>{{item.description}}</td>
                <td>{{item.category}}</td>
                <td>{{item.que_option}}</td>
                <td>{{item.option}}</td>
                <td>{{item.answer}}</td>
                <td><button (click)="deleteQue(item.id)">Delete</button></td>
                <td><a routerLink="/queUpdate/{{item.id}}">Update</a> </td>
            
            </tr> 
        </tbody>
    </table>
 </div> -->





   <header class="common_header">
            <li>
                <h3 > Global Genius Index (G2I)</h3>
            </li>
            <li>
                <a  routerLink=''>Home</a>
            </li>
            
            <li>
                <h2>Teacher's Name</h2>
            </li>
        </header>
        <a style="position: absolute;
        left: 5.21%;
        right: 92.19%;
        top: 9.69%;
        bottom: 87.33%;
        
        " routerLink="/questionUpload"><img src="/assets/back.png"> </a>
  
        <h3> Question Bank</h3>
        <div class="container" style="left: 389px;
        top: 283px;
        ">
          <a routerLink="/elementary"  ><h3 class="title">Elementary Level</h3></a>
        </div>
        <div class="container" style="left: 898px;
        top: 283px;">
          <a routerLink="intermediate" ><h3 class="title">Intermediate Level</h3></a>
        </div>
        <div class="container" style="left: 389px;
        top: 596px;
        ">
          <a routerLink="advance" ><h3 class="title">Advance Level</h3></a>
        </div>
        <div class="container" style="left: 898px;
        top: 614px;">
          <a routerLink="genius" ><h3 class="title">Genius Level</h3></a>
        </div>


