<!-- 
  
  <div>
  <h5>
        all que
    </h5>
    <table mat-table style="text-align: left;
    color:black;position:absolute">
        <thead>
            <tr >
                <th>que_num </th> 
                <th >subject</th>
                <th >chapter</th>
                <th >description </th>
                <th>category </th>
                <th>que_option</th>
                <th>option</th>
                <th>answer</th>
                <th>Action</th>
                <th>Update</th>
            </tr>
           
        </thead>
        <tbody>
            <tr style="border:1px solid black"
             *ngFor="let item of questionList">
                <td>{{item.que_num}}</td>
                <td>{{item.subject}}</td>
                <td>{{item.chapter}}</td>
                <td>{{item.description}}</td>
                <td>{{item.category}}</td>
                <td>{{item.que_option}}</td>
                <td>{{item.option}}</td>
                <td>{{item.answer}}</td>
                <td><button (click)="deleteQue(item.id)">Delete</button></td>
                <td><a routerLink="/queUpdate/{{item.id}}">Update</a> </td>
            
            </tr> 
        </tbody>
    </table>
 </div> -->




<!-- <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    
    <ng-container matColumnDef="que_num">
      <th mat-header-cell *matHeaderCellDef> question no. </th>
      <td mat-cell *matCellDef="let element"> {{element.que_num}} </td>
    </ng-container>
  
 <ng-container matColumnDef="subject">
      <th mat-header-cell *matHeaderCellDef> Subject </th>
      <td mat-cell *matCellDef="let element"> {{element.subject}} </td>
    </ng-container>
  
  
    <ng-container matColumnDef="chapter">
      <th mat-header-cell *matHeaderCellDef> chapter </th>
      <td mat-cell *matCellDef="let element"> {{element.chapter}} </td>
    </ng-container>
  
   
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef> description </th>
      <td mat-cell *matCellDef="let element"> {{element.description}} </td>
    </ng-container>

    <ng-container matColumnDef="category">
      <th mat-header-cell *matHeaderCellDef> category </th>
      <td mat-cell *matCellDef="let element"> {{element.category}} </td>
    </ng-container>

    <ng-container matColumnDef="que_option">
      <th mat-header-cell *matHeaderCellDef> que_option </th>
      <td mat-cell *matCellDef="let element"> {{element.que_option}} </td>
    </ng-container>

    <ng-container matColumnDef="option">
      <th mat-header-cell *matHeaderCellDef> option </th>
      <td mat-cell *matCellDef="let element"> {{element.option}} </td>
    </ng-container>

    <ng-container matColumnDef="answer">
      <th mat-header-cell *matHeaderCellDef> answer </th>
      <td mat-cell *matCellDef="let element"> {{element.answer}} </td>
    </ng-container>
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container> 
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
     <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr> 
  </table> 
   -->
   <header style="display:flex;position: absolute;
        width: 90rem;
        height: 8.125rem;
        left: 0rem;
        top: 0rem;
        
        background: #FFFFFF;">
            <li>
                <h3 style="position: absolute;
                width: 23rem;
                height: 2.875rem;
                left: 7.438rem;
                top: 2rem;
                color:#2E0A57;"> Global Genius Index (G2I)</h3>
            </li>
            <li>
                <a style="position: absolute;
                width: 3.375rem;
                height: 1.438rem;
                left: 39.438rem;
                top: 3.375rem;
                color:#2E0A57;" routerLink=''>Home</a>
            </li>
            
            <li>
                <h3 style="position: absolute;
                width: 16rem;
                height: 1.938rem;
                left: 70.938rem;
                top: 2.938rem ;color:#2E0A57">Teacher's Name</h3>
            </li>
        </header>
        <h3> Question Bank</h3>
        <div class="container" style="left: 389px;
        top: 283px;
        ">
          <a routerLink="/elementary"  ><h3 class="title">Elementary Level</h3></a>
        </div>
        <div class="container" style="left: 898px;
        top: 283px;">
          <a routerLink="intermediate" ><h3 class="title">Intermediate Level</h3></a>
        </div>
        <div class="container" style="left: 389px;
        top: 596px;
        ">
          <a routerLink="advance" ><h3 class="title">Advance Level</h3></a>
        </div>
        <div class="container" style="left: 898px;
        top: 614px;">
          <a routerLink="genius" ><h3 class="title">Genius Level</h3></a>
        </div>


