<header class="common_header">
    <li>
        <h3 > Global Genius Index (G2I)</h3>
    </li>
    <li>
        <a routerLink=''>Home</a>
    </li>
    
    <li>
        <h2>Teacher's Name</h2>
    </li>
</header>

    <img src="/assets/Group 127.png">
    <h2>Video</h2>
<div  class="content">
    <a>_____________________________________________________________________________________________________________</a><br>
    <a>_____________________________________________________________________________________________________________</a><br>
    <a>_____________________________________________________________________________________________________________</a><br>
    <a>_____________________________________________________________________________________________________________</a><br>
    <a>_____________________________________________________________________________________________________________</a><br>
    <a>_____________________________________________________________________________________________________________</a><br>

</div>