<header class="common_header">
    <li>
        <h3 > Global Genius Index (G2I)</h3>
    </li>
    <li>
        <a routerLink=''>Home</a>
    </li>
    
    <li>
        <h2>Teacher's Name</h2>
    </li>
</header>

    <img style="position: absolute;
    top: 10%;
    left: 10%;" src="/assets/Group 127.png">
    <h2 style="position: absolute;
    width: 112px;
    height: 31px;
    left: 307px;
    top: 150px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 38px;
    display: flex;
    align-items: center;
    
    color: #2C0065;">Video</h2>
<div style="top: 300px;
position: absolute;
left: 300px;">
    <a>_____________________________________________________________________________________________________________</a><br>
    <a>_____________________________________________________________________________________________________________</a><br>
    <a>_____________________________________________________________________________________________________________</a><br>
    <a>_____________________________________________________________________________________________________________</a><br>
    <a>_____________________________________________________________________________________________________________</a><br>
    <a>_____________________________________________________________________________________________________________</a><br>

</div>