<header class="common_header">
    <li>
        <h3 > Global Genius Index (G2I)</h3>
    </li>
    <li>
        <a routerLink=''>Home</a>
    </li>
    
    <li>
        <h2>Teacher's Name</h2>
    </li>
</header>

    <img src="/assets/Group 127.png">
    <h2>Video</h2>
<div  class="content">
    
   <h6 class="chapter_content">Physics makes models that approximate</h6><br><br>
   <h6 class="chapter_content">reality with math. Physics models have</h6><br><br>
   <h6 class="chapter_content">made amazing progress, but so far no</h6>   <br><br>
   <h6 class="chapter_content"> model perfectly matches reality.</h6>
</div>