@import '../../styles.scss';
mat-card{
    position: absolute;
    width: 23.125rem;
    height: 23.25rem;
    border-radius: 1.875rem 0rem 0rem 1.875rem;
margin-left:1.25rem;
}
.mat-card-image{
    margin-left: 30%;
    padding: 2%;
}

.heading{
    position: absolute;
width: 43.25rem;
height: 3.5rem;
left: 0rem;
top: 4.5rem;

font-family: 'Roboto';
font-style: italic;
font-weight: 800;
font-size: 3rem;
line-height: 3.5rem;
display: flex;
align-items: center;
text-align: right;

color: #FFFFFF;
}
.sub-heading{
    position: absolute;
width: 30.625rem;
height: 4.75rem;
left: 4.438rem;
top: 10.625rem;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 2rem;
line-height: 2.375rem;
display: flex;
align-items: center;
text-align: right;

color: #D2B8F2;

}
h4{
    position: absolute;
    width: 40.875rem;
    height: 2.938rem;
    left: 24.563rem;
    top: 1.875rem;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 2.93rem;    
    // display: flex;
    align-items: center;
    
    color: #301352;   
}
figcaption{
    position: absolute;
width: 7.375rem;
height: 4.375rem;
// left: 217px;
 top: 31.25rem;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 3.75rem;
line-height: 4.375rem;
display: flex;
align-items: center;
text-align: center;

color: #15002C
}
.img-read{
    // position: absolute;
width: 20.188rem;
height: 17.125rem;
// left: 557px;
margin-top:11.25rem;
 align-items: center;
}