<div>
    <footer style="background-color: rgba(46, 10, 87, 1);
    color:white;">
    <div style="display:flex;">

    
<div style="margin:5rem">
    <h2>Explore</h2>
    
        <li> <a routeLink=""> Home</a> </li><br>
        <li routeLink="ContactUs"> Contact Us</li><br>
        <li routeLink="aboutUs"> About Us </li>
    
       
    
    
</div>
<div style="margin:5rem">
    <h2>Courses</h2>
    <li>    University Stage</li><br>
    <li>Personal Development</li>
</div>
<div style="margin:5rem">
    <h2>company</h2><br>
    <li>Latest News </li><br>
    <li>Blog</li><br>
    <li>Community</li>

</div>
<div style="margin:5rem">
    <h2>Follow Us</h2>
    <div>
        <a  class="icons"  href='https://twitter.com/sequfin' target='_blank'>
            <img src="/assets/Shape.png">
            </a>
        <a  class="icons"  href='https://twitter.com/sequfin' target='_blank'>
                <img src="/assets/Shape.png">
                </a>
        <a  class="icons"  href='https://twitter.com/sequfin' target='_blank'>
                    <img src="/assets/Shape.png">
                    </a><br>
        <a  class="icons"  href='https://twitter.com/sequfin' target='_blank'>
                        <img src="/assets/Shape (1).png">
                        </a>
        <a  class="icons"  href='https://twitter.com/sequfin' target='_blank'>
                            <img src="/assets/Shape (3).png">
                            </a>
    </div>
</div>
</div>
<div style="display:flex;">
    <div style="margin:3rem">
        <h2>Global Genius Index (G2I)</h2>
    </div>
    <div style="margin:3rem">Privacy Policy</div>
    <div style="margin:3rem">Terms and Conditions</div>
    <div style="margin:3rem">Copyright Notification</div>
</div>
    </footer>
</div>
