<header class="common_header">
    <li>
        <h3 > Global Genius Index (G2I)</h3>
    </li>
    <li>
        <a routerLink=''>Home</a>
    </li>
    
    <li>
        <h2>Teacher's Name</h2>
    </li>
</header>
<a style="position: absolute;
  left: 5.21%;
  right: 92.19%;
  top: 9.69%;
  bottom: 87.33%;
  
  " routerLink=""><img src="/assets/back.png"> </a>
  <h3>Draft</h3>
  <div style="display:flex" >
    <mat-card style="left: 123px;
    top: 200px;
    ">
      <img mat-card-image src="/assets/engineering-supplies-blueprint 2.png">
     <mat-card-content >Topic 1</mat-card-content>
   </mat-card>
   <mat-card style="left: 531px;
   top: 200px;">
    <img mat-card-image src="/assets/engineering-supplies-blueprint 2.png">
     <mat-card-content >Topic 2</mat-card-content>
   </mat-card>
   <mat-card style="left: 939px;
   top: 200px;">
    <img mat-card-image src="/assets/engineering-supplies-blueprint 2.png">
     <mat-card-content >Topic 3</mat-card-content>
   </mat-card>

</div>
<div style="margin-top: 1280px;">
    <app-footer>

    </app-footer>
</div>
